<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="fas fa-calendar-check"></i>
            Todo App
        </a>

        <!--
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <form class="form-inline my-2 my-lg-0 mx-auto">
                <div class="input-group">
                    <input type="text" name="query" class="form-control text-light bg-dark" placeholder="Search query..." aria-label="Search query" aria-describedby="search-button">
                    <div class="input-group-append">
                        <button class="btn btn-outline-light" type="submit" id="search-button">Search</button>
                    </div>
                </div>
            </form>
            
            <div class="btn-group" role="group" aria-label="Get started">
                <a class="btn btn-outline-light" href="/login" role="button">Login</a>
                <a class="btn btn-outline-light" href="/register" role="button">Register</a>
            </div>

            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="#" role="button">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div> -->
    </div>
</nav>