{% macro window(id, header, body, footer) %}
<div class="modal fade" id="{{ id }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ id }}ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ id }}ModalLabel">{{ header }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% if body %}
            <div class="modal-body">
                {{ body | safe }}
            </div>
            {% endif %}
            {% if footer %}
            <div class="modal-footer">
                {{ footer | safe }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}

{% macro form(id, header, button='Submit') %}
{% set body = caller() %}
{% set footer %}
<button type="button" class="btn btn-primary" onclick="$('#{{ id }}Form').submit();$('#{{ id }}Modal').modal('hide');">{{ button }}</button>
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
{% endset %}
{{ window(id, header, body, footer) }}
{% endmacro %}